@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import 'tailwindcss';

.Upper-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #171717;
  padding: 80px 30px 28px;
}

.settings-button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.settings-image {
  display: block;
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.text-colorGray{
  color: #A8A8A8;
}

body {
  margin: 0;
  background-color: #242424;
  color: #FFFDFD;
}
* {
  font-family: "Solway";
}
